{% extends "base.html" %}

{% block title %}Update{% endblock %}

{% block body %}

    <form action="/updatedata" method="post">
        <input name="name" placeholder="Name" type="text" value="{{ data.name }}">
        {% for sport in sports %}
            <input type="radio" name="sport" value="{{ sport }}"
            {% if data.sports == sport %}checked{% endif %}> {{ sport }} 
        {% endfor %}
        <input type="hidden" name="id" value="{{ data.id }}">
        <button type="submit">Update</button>
    </form>
    <br><br>
    <form action="/list">
        <button type="submit">View the List</button>
    </form>

{% endblock %}